$line-color-cyan: rgb(0, 217, 255);
$line-color-blue: rgb(0, 26, 255);
$line-color-orange: rgb(255, 208, 0);
$line-color-red: rgb(255, 0, 0);
$line-color-green: rgb(5, 145, 0);
$line-color-black: rgb(0, 0, 0);

.ui {
    position: absolute;
    right: 50px;
    top: 10px;
}

.clear-screen {
    
}
